

<!-- Botón para abrir el modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#productoModal">
    Crear Producto
</button>

<div class="modal fade" id="productoModal" tabindex="-1" aria-labelledby="productoModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="productoModalLabel">Crear productos</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <form id="formularioProd">
                    <div class="form-group mt-2">
                        <label>Nombre*</label>
                        <input class="form-control" name="title" required id="title" type="text" />
                    </div>

                    <div class="form-group mt-2">
                        <label>Descripcion*</label>
                        <input class="form-control" required name="description" id="description" type="text" />
                    </div>

                    <div class="form-group mt-2">
                        <label>SKU*</label>
                        <input class="form-control" required name="code" id="code" type="text" />
                    </div>

                    <div class="form-group mt-2">
                        <label>Precio*</label>
                        <input class="form-control" name="price" required id="price" type="number" />
                    </div>

                    <div class="form-group mt-2">
                        <label>Stock*</label>
                        <input class="form-control" required name="stock" id="stock" type="number" />
                    </div>

                    <div class="form-group mt-2">
                        <label>Categoria*</label>
                        <input class="form-control" required name="category" id="category" type="text" />
                    </div>

                    <button class="btn btn-success mt-2" type="button" id="guardarProd">Guardar</button>
                </form>
            </div>

        </div>
    </div>
</div>

<br>
<hr>
<br>
<h1>Listado de productos</h1>
<br>

<div class="form-inline mb-3">
    <form method="GET" action="/">
        
        <div class="form-group mr-2">
            <label for="query" class="mr-2">Buscar:</label>
            <input type="text" id="query" name="query" value="{{query}}" class="form-control" placeholder="Buscar...">
        </div>
        
        <div class="form-group mr-2">
            <label for="limit" class="mr-2">Límite:</label>
            <select id="limit" name="limit" class="form-control">
                <option {{#if (eq limit '5')}}selected{{/if}} value="5">5</option>
                <option {{#if (eq limit '10')}}selected{{/if}} value="10">10</option>
                <option {{#if (eq limit '25')}}selected{{/if}} value="25">25</option>
                <option {{#if (eq limit '50')}}selected{{/if}} value="50">50</option>
                <option {{#if (eq limit '100')}}selected{{/if}} value="100">100</option>
            </select>
        </div>
        <div class="form-group mr-2">
            <label for="order" class="mr-2">Ordenar por:</label>
            <select id="order" name="order" class="form-control">
                <option  {{#if (eq order 'price_desc')}}selected{{/if}}  value="price_desc">Precio de mayor a menor</option>
                <option  {{#if (eq order 'price_asc')}}selected{{/if}}  value="price_asc">Precio de menor a mayor</option>
            </select>
        </div>

        <button style="margin-top: 15px;" class="btn btn-success" type="submit">Aplicar Filtros</button>
    </form>
</div>

<div class="product-grid" id="productos">
    {{#each payload }}
    <div class="product-card">
        <h3>{{this.title}}</h3>
        <p>Stock: {{this.stock}}</p>
        <p>Precio unitario: ${{this.price}}</p>
        <p>Categoria: {{this.category}}</p>
        <a href="/product/{{this._id}}" class="btn btn-info">Ver Detalle</a>
        <button onclick="addToCart('{{this._id}}')" class="btn btn-success" >Agregar al carrito</button>
    </div>
    {{/each}}
</div>
<div >
    {{#if hasPrevPage}}
        <a href={{prevLink}}>&lt;&lt; Anterior</a>
    {{/if}}
        &nbsp;
        Pagina {{page}} de {{totalPages}}
        &nbsp;
    {{#if hasNextPage}}
        <a href={{nextLink}}>Siguiente &gt;&gt;</a>
    {{/if}}
</div>

<script>

document.getElementById('guardarProd').addEventListener('click', function() {
    // Aquí puedes agregar la lógica para guardar el producto

    var datos = $("#formularioProd").serialize();
    
    $.ajax({
        data: datos,
        url: 'api/products',
        type: 'post',
        success: function (response){
            console.log("se envia el emit desde node")
        }
    });

    // Limpiar los campos del formulario
    document.getElementById('formularioProd').reset();

    // Cerrar el modal
    var modal = bootstrap.Modal.getInstance(document.getElementById('productoModal'));
    modal.hide();
  });

</script>
